// @import "rsuite/styles/index.less";
// @enable-ripple-effect: false;

@layout-padding: 0.5rem;

// Default Overwrites

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(88, 95, 95, 0.641);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 95, 95, 0.895);
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

iframe {
  border: none;
}

.swiper-slide {
  height: auto;
}

.swiper-wrapper {
  padding-block: 0.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(66, 57, 57, 0.837);
}

.swiper-pagination {
  margin: 0.8rem;
}

.swiper-pagination-bullet {
  background: rgba(66, 57, 57, 0.837);
}

.review-panel {
  margin: 1rem 2rem;
}

.rs-header,
.rs-footer {
  background-color: var(--rs-navbar-inverse-bg);
  // padding-left: @layout-padding;
  // padding-right: @layout-padding;
}

.rs-content,
.rs-footer {
  padding-left: @layout-padding;
  padding-right: @layout-padding;
}

.rs-panel {
  height: 100%;
}

.rs-modal-header .rs-modal-header-close {
  font-size: larger;
}

.rs-modal-body {
  overflow-x: hidden;
  padding-bottom: 0;
}

.rs-progress-circle-info {
  color: white;
}

.rs-divider-vertical {
  width: 2px;
  min-height: 1.5em;
}

.rs-message-container {
  padding: 0.5rem 1rem;
}

.fixed-width {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.home-banner {
  background: url(/assets/images/movie-banner.jpg);
  padding: 6rem 2rem 2rem;
  background-blend-mode: overlay;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: round;
  background-size: contain;
}

.space-bottom,
.latest-trailers {
  margin-bottom: 2rem;
}

.latest-trailer-panel {
  // margin: 1rem;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.latest-trailer-panel:hover {
  transform: scale(1.05);
}

.circleplay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 0 0 0.8rem 0.2rem white;
  border-radius: 50%;
}

.play-trailer-btn,
.play-trailer-btn:active,
.play-trailer-btn:focus {
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.3);
  // color: initial;
}

.play-trailer-btn:hover {
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.3);
  // color: initial;
}

.flex {
  display: flex;
  align-items: center;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .play-trailer-btn:active {
//   color: initial;
// }

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-bottom-md {
  margin-bottom: 1rem;
}

.overflow-y-scroller {
  overflow-y: auto;
  max-height: 15rem;
}

.rating-star-center .rs-tag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.rs-scroll-view.rs-scroll-view-custom-scrollbar {
  --rs-scrollbar-bg: none;
}

.padding-sm {
  padding-inline: 0.5rem;
}

.recomm-ratings .rs-progress-circle-info {
  color: initial;
  font-size: small;
}

.thumbnail {
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-keywords-xs {
  margin: 0.2rem 0.2rem 0.2rem 0;
}

.mfooter {
  padding-block: 2rem;
  margin-top: 2rem;
}
.sub-mfooter {
  padding-inline: 2rem;
}

.text-white {
  color: white;
}

.underline-text {
  text-decoration: none;
}

.underline-text:hover {
  text-decoration: underline;
}

.contact-icons {
  color: white;
}

.contact-icons:hover,
.contact-icons:active,
.contact-icons:focus {
  color: white;
}

.media-not-available {
  // background-color: aliceblue;
  // background-color: aliceblue;
  border-radius: 0.2rem;
  padding: 0.3rem;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 236, 251);
  box-shadow: 0 0 20px rgba(219, 236, 251, 0.7) inset;
}

.rounded-border-sm {
  border-radius: 5px;
}

.watch-providers {
  box-shadow: 0 0 8px gray;
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.watch-provider-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(199, 223, 223, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.genre-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.7rem;
  background: none;
  border: 1px solid gray;
}

// .genre-btn:hover {
//   background: rgba(199, 223, 223, 0.7);
// }

.genre-btn-active {
  background: rgba(199, 223, 223, 0.8);
}
